[Desktop Entry]
Name=Worker
Comment=File Manager
Comment[pl]=Zarządca plików
Icon=WorkerIcon
Exec=worker
Terminal=false
Type=Application
Categories=Utility;FileManager;
MimeType=inode/directory;
